<!-- properties/detail.html -->
{% extends "core/base.html" %}
{% load humanize %}

{% block page_title %} Property  {% endblock page_title %}

{% block page_header %}
<div class="row">
    <div class="col">
        <p>{{ object.prop_type }}</p>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col">
        <p class="smaller"><a href="{% url 'properties:list' %}">back</a></p>
        <img src="{{ object.picture_url }}"/>
        <p>$ {{ object.price }}</p>
        <p>{{ object.prop_type }}</p>
        <p>{{ object.description }}</p>
        <p>{{ object.nearest_elementary }}</p>
    </div>
</div>

{% endblock content %}

